In [31]:
import numpy as np
import pandas as pd

In [32]:
data = pd.read_csv("cardekho_data.csv")
data

,Car_Name,Year,Selling_Price,Present_Price,Kms_Driven,Fuel_Type,Seller_Type,Transmission,Owner
0,ritz,2014,3.35,5.59,27000,Petrol,Dealer,Manual,0
1,sx4,2013,4.75,9.54,43000,Diesel,Dealer,Manual,0
2,ciaz,2017,7.25,9.85,6900,Petrol,Dealer,Manual,0
3,wagon r,2011,2.85,4.15,5200,Petrol,Dealer,Manual,0
4,swift,2014,4.60,6.87,42450,Diesel,Dealer,Manual,0
...,...,...,...,...,...,...,...,...,...
296,city,2016,9.50,11.60,33988,Diesel,Dealer,Manual,0
297,brio,2015,4.00,5.90,60000,Petrol,Dealer,Manual,0
298,city,2009,3.35,11.00,87934,Petrol,Dealer,Manual,0
299,city,2017,11.50,12.50,9000,Diesel,Dealer,Manual,0
300,brio,2016,5.30,5.90,5464,Petrol,Dealer,Manual,0

In [33]:
data.head()

,Car_Name,Year,Selling_Price,Present_Price,Kms_Driven,Fuel_Type,Seller_Type,Transmission,Owner
0,ritz,2014,3.35,5.59,27000,Petrol,Dealer,Manual,0
1,sx4,2013,4.75,9.54,43000,Diesel,Dealer,Manual,0
2,ciaz,2017,7.25,9.85,6900,Petrol,Dealer,Manual,0
3,wagon r,2011,2.85,4.15,5200,Petrol,Dealer,Manual,0
4,swift,2014,4.60,6.87,42450,Diesel,Dealer,Manual,0

In [34]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 301 entries, 0 to 300
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Car_Name       301 non-null    object
 1   Year           301 non-null    int64
 2   Selling_Price  301 non-null    float64
 3   Present_Price  301 non-null    float64
 4   Kms_Driven     301 non-null    int64
 5   Fuel_Type      301 non-null    object
 6   Seller_Type    301 non-null    object
 7   Transmission   301 non-null    object
 8   Owner          301 non-null    int64
dtypes: float64(2), int64(3), object(4)
memory usage: 21.3+ KB

In [39]:
data = pd.get_dummies(data, columns=['Fuel_Type', 'Seller_Type', 'Transmission'])

In [46]:
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error, mean_absolute_error,r2_score
from sklearn.tree import DecisionTreeRegressor

In [47]:
X = data.drop(['Selling_Price', 'Car_Name'], axis=1)
y = data['Selling_Price']

In [48]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [49]:
model = DecisionTreeRegressor(random_state=42)
model.fit(X_train, y_train)

DecisionTreeRegressor(random_state=42)

In [50]:
y_pred = model.predict(X_test)
y_pred

array([ 0.5 ,  9.7 ,  4.1 ,  0.2 ,  7.05,  6.45,  1.11,  0.5 ,  0.48,
        7.2 ,  7.25,  1.25,  7.5 ,  0.45,  4.75,  2.35,  1.05, 14.25,
        0.48,  1.65,  0.25,  8.75,  4.5 ,  2.35,  0.45,  2.9 ,  5.25,
        2.9 ,  1.15,  1.11,  0.25, 11.25,  0.45,  2.25,  7.75,  4.4 ,
        5.85,  7.45,  2.55,  7.05,  3.49,  2.75,  5.3 ,  0.6 ,  6.75,
        0.65,  8.5 ,  4.  ,  3.1 ,  3.1 ,  4.75,  1.45, 19.99, 20.75,
        6.45,  9.15,  5.25,  7.75,  2.65,  6.4 ,  0.25])

In [51]:
mse = mean_squared_error(y_test, y_pred)
mae = mean_absolute_error(y_test, y_pred)
r2 = r2_score(y_test, y_pred)
print("Mean Squared Error:", mse)
print("Mean Absolute Error:", mae)
print("R2 Score:", r2)

Mean Squared Error: 1.4080508196721313
Mean Absolute Error: 0.7496721311475409
R2 Score: 0.9388749689233242